@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#particles-js{
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: -1;

}

header{
    margin-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logospan{
    color: #23fa07;
    text-shadow: 0 0 10px #23fa07;
}

.logo:hover{
    transform: scale(1.1);
}

nav a
{
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover
{
    color: #23fa07;
    border-bottom: 3px solid;
}

.imagemcentral{
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 50%;
    width: 250px;
    animation: subirDescer 0.7s infinite alternate;
    box-shadow:0 0 25px #23fa07;
    
}

@keyframes subirDescer{
    from{
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}


.secaocentral{
    color: white;
    display: flex;
    gap:3%;
    padding-top: 5%;
    flex-wrap: wrap;
    align-items: center;

}

.escrever{
    width: 0;
    padding: 0;
    overflow: hidden;
    border-right: 2px solid #23fa07;
    display:  inline-block;
    animation:escrever 4s steps(12 end), piscar 0.5s step-end infinite;
    white-space: nowrap;

}

@keyframes escrever{
    from{ width:0;}
    to{width: 100%;}
    
}
@keyframes piscar{
    from, to {border-color:transparent;}
    50%{border-color: #23fa07}
}

.skilltitulo{
    size: 1.9rem;
    color: #23fa07;
    text-shadow: 0 0 10px #23fa07
    
}

.skilltitulo:hover{
    transform: scale(1.1);
}

.Skillss{
    margin-top: 50px;
    background-color: rgb(12, 12, 12);
    color: #23fa07;
    width: 100%;
    height: 150px;
    font-size: 1.4rem;
    font-weight: 600;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.7;
}

.skill1{
    color:#23fa07;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.skill1:hover{
    color: b#23fa07;
    border-bottom: 3px solid;
    transform: scale(1.1)
}

.projetos{
    display: flex;
    align-items:center;
    justify-content: space-around;
    gap: 100px;
    margin-left: 25px;
    
}
.projetos01,
.projetos02,
.projetos03,
.projetos04{
    border: #23fa07 2px solid;
    width: 250px;
    height: 280px;
   
}

.rodape{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}